@use 'abstracts/variables' as v;
@use 'abstracts/mixins' as m;

.testimonials {

  padding: v.$section-gap-small 0;

  @include m.responsiveDesign( tab-land ) {
    padding: 12rem 0;
  }

  &__content {
    padding: 2rem;
    margin-bottom: 6rem;
  }

  &__visual {
    position: relative;
  }

  &__image {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__name {
    font-weight: 700;
    font-size: 2rem;
    color: v.$color-text-headings;  
  }

}