// COLORS
$color-white: #FFFFFF;
$color-black: #000000;
$color-primary: #1A2222;
$color-secondary: #CD412E;
$color-tertiary: #FEDEFD;
$color-text-paragraphs: #6E7A89;
$color-text-headings: #132742;

// FONT
$default-font-size: 1.6rem;

// SECTIONS
$section-gap: 9.6rem;
$section-gap-small: 7rem;

// Z-INDEX
$menu-index: 10;