@use 'abstracts/variables' as v;
@use 'abstracts/mixins' as m;

.header-section {
  margin-bottom: 4rem;

  &__text {
    text-align: center;

    @include m.responsiveDesign( tab-land ) {
      text-align: left;
    }
  }
}